---
layout: default
title: Apuntes Planificación y Administración de redes.
---
<h1>Planificación y Administración de Redes</h1>        
<img src='{{site.baseurl}}/assets/img/redes1.png' alt='Planificación y Administración de redes'>
    <h2>Unidad 1 - Caracterización de las redes </h2>
    <blockquote>
      <strong>Objetivo</strong>
      <ul>
        <li>Conocer la clasificación de las redes en función de distintos criterios. </li>
        <li>Entender la arquitectura de red TCP/IP y el modelo de referencia OSI</li>
        <li>Diferenciar la estructura de capas o niveles de una arquitectura de red</li>
      </ul>  
    </blockquote>

<ol class='portada'> 
  {% for post in site.posts reversed %}
    {% if post.categories contains "tema0" %}
      <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
    {% endif %}
{% endfor %}
</ol>
    <h2>Unidad 2 - La capa Física</h2>
    <blockquote>
      Cómo enviar datos sobre un medio físico.
       <strong>La capa Física</strong>
    </blockquote>

<ol class='portada'> 
  {% for post in site.posts reversed %}
    {% if post.categories contains "tema1" %}
      <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
    {% endif %}
{% endfor %}
</ol>

<h2>Unidad 3 - La capa de Red</h2>
<blockquote>
  
</blockquote>

<ol class='portada'> 
{% for post in site.posts reversed %}
{% if post.categories contains "tema2" %}
  <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
{% endif %}
{% endfor %}
</ol>

<h2>Unidad 4 - Capa de Enlace de Datos y Transporte</h2>
<blockquote>
  En este capítulo se trata la comunicación de dos ordenadores conectados a través de un medio físico que les permite comunicar directamente.
Entre los problemas a resolver:
<ul>
  <li>Turnos de acceso al medio compartido.</li>
  <li>Tratar los errores en la transmisión.</li>
  <li> Coordinar las velocidades de transmisión.</li>
  <li>Recoger mensajes de la capa de red y encapsularlos en mensajes de la capa de enlace de datos, tramas. Esto es, añadir cabeceras y enmarcar las tramas para separarlas entre sí.</li>
</ul>
  
</blockquote>

<ol class='portada'> 
{% for post in site.posts reversed %}
{% if post.categories contains "tema3" %}
  <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
{% endif %}
{% endfor %}
</ol>
<h2>Unidad 5 - Configuración y administración de routers</h2>
<blockquote>
  
</blockquote>

<ol class='portada'> 
{% for post in site.posts reversed %}
{% if post.categories contains "tema4" %}
  <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
{% endif %}
{% endfor %}
</ol>
<h2>Unidad 6 - Configuración de Redes Virtuales (VLANs)</h2>
<blockquote>

</blockquote>

<ol class='portada'> 
{% for post in site.posts reversed %}
{% if post.categories contains "tema5" %}
  <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
{% endif %}
{% endfor %}
</ol>
<h2>Unidad 7 - Configuración y administración de protocolos dinámicos</h2>
<blockquote>

</blockquote>

<ol class='portada'> 
{% for post in site.posts reversed %}
{% if post.categories contains "tema6" %}
  <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
{% endif %}
{% endfor %}
</ol>
</ol>
<h2>Unidad 8 - Configuración del acceso a Internet</h2>
<blockquote>

</blockquote>

<ol class='portada'> 
{% for post in site.posts reversed %}
{% if post.categories contains "tema6" %}
  <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
{% endif %}
{% endfor %}
</ol>
